<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="../css/style.css" />
    <link rel="stylesheet" href="../css/about.css" />
    <script src="../config/config.js"></script>
    <script type="module" src="../js/auth.js" defer></script>
    <script type="module" src="../js/main.js" defer></script>
  </head>
  <body>
    <div id="header-placeholder"></div>
    
    <div class="about-container">
      <img src="../img/fefuart-img/Live-art/4.jpg" alt="" />
      <div class="about-content">
        <h1>About</h1>
        <div class="about-text">
          <h2>¿Quién hay detrás?</h2>
          <p>
            Hola, bienvenidos!<br /><br />

            Me llamo Feli, y soy la mente y el corazón detrás de esta travesía
            artística. Soy una apasionada artista plástica con formación en
            Bellas Artes, carrera que me ofreció la oportunidad de conocer el
            fantástico mundo de las acuarelas y así poder dar forma y color a
            mis ideas.<br /><br />

            Actualmente mi misión es transformar momentos especiales en
            recuerdos eternos a través de la magia de la pintura en directo y
            los dibujos personalizados. En cada ilustración intento plasmar todo
            el cariño y la pasión que me acompañan en esta profesión. Además, me
            comprometo con la estética y la decoración para ofreceros lo
            experiencia lo más bonita y agradable posible.<br /><br />

            Gracias por visitar mi pequeño rincón artístico, no dudes en
            escribirme!
          </p>
        </div>
      </div>
    </div>
    <div id="footer-placeholder"></div>
  </body>
</html>
