<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <script src="../config/config.js" defer></script>
    <script type="module" src="../js/main.js"></script>
    <link rel="stylesheet" href="../css/style.css" />
    <link rel="stylesheet" href="../css/live-art-info.css" />
  </head>
  <body>
    <div id="header-placeholder"></div>
    <div class="live-art-info-container">
    <div class="live-art-info-title">
      <img src="../img/fefuart-img/utiles/live-art-hero.avif" alt="" style="border-radius: 1.5rem;"/>
      <h1>Live Art</h1>
    </div>
    <div class="live-art-info-content">
      <h2>¿Qué es?</h2>
      <p>
        El Live Art o Arte en vivo es un espectáculo de arte en directo en el
        que la artista pinta con acuarelas y rotuladores a los invitados del
        evento.<br /><br />
        No solo es una forma de entretenimiento, sino también una bonita manera
        de inmortalizar ese día tan esperado, en el que los invitados se llevan
        un recuerdo especial que perdurará en el tiempo.<br /><br />
        A través de esta experiencia artística, cada dibujo es único,
        convirtiendo tu boda en un evento aún más especial y lleno de arte.<br /><br />
        Si estáis interesadxs pregúntame por el Dossier! Ahí encontraréis más
        detalles y presupuestos.
      </p>
    </div>
    <div class="live-art-info-phrase">
      <img
        src="../img/fefuart-img/utiles/live-art-info-phrase.avif"
        alt="live-art"
      />
      <p>
        "Cada boda es un lienzo en blanco esperando ser pintado con amor,
        emociones y pinceladas únicas"
      </p>
    </div>
    </div>
    <div id="footer-placeholder"></div>
  </body>
</html>
