<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../css/style.css" />
    <link rel="stylesheet" href="../css/forms.css" />
    <script src="../config/config.js"></script>
    <!-- <script type="module" src="../js/order.js"></script> -->
    <script type="module" src="../js/main.js"></script>
    <title>Document</title>
  </head>
  <body>
    <div id="header-placeholder"></div>
    <main>
      <h1>Ramos dibujados</h1>

      <div class="product-description">
        <p class="product-description-text">
          Si quieres sorprender a tu amiga, pareja o hermana después de su boda,
          este es el regalo ideal. Un detalle único para inmortalizar el ramo de
          novia y convertirlo en una obra de arte atemporal.<br><br> Con un diseño
          delicado y lleno de detalles, este ramo dibujado captura la esencia y
          la belleza de ese momento tan especial, preservando para siempre la
          memoria de un día inolvidable.
        </p>
        <img
          src="../img/fefuart-img/Ramos/ramo.jpg"
          alt=""
        />
        <p class="product-measurements">
          A continuación podéis ver las medidas y el precio.<br /><br />
          MARCO DE MADERA CLARITA Y ENVÍO INCLUIDO.<br /><br />

          Plazo de entrega de 10 días aproximadamente<br /><br />
        </p>
        <img src="../img/fefuart-img/utiles/medidas-precio.avif" alt="" />
      </div>

      <h2 style="font-weight: bold;">Rellene el formulario</h2>
      <form id="form-ramo-flores">
        
        <div class="form-group">
          <label for="name">Nombre</label>
          <input type="text" id="name" name="name" required />
        </div>

        <div class="form-group">
          <label for="description">Descripción</label>
          <textarea id="description" name="description"></textarea>
        </div>

        <div class="form-group">
          <label for="quantity">Unidades</label>
          <input
            type="number"
            id="quantity"
            name="quantity"
            min="1"
            value="1"
            required
          />
        </div>

        <div class="form-group">
          <label for="address">Dirección de envío</label>
          <input type="text" id="address" name="address" required />
        </div>

        <div class="form-group">
          <label for="envio">Tipo de envío</label>
          <select name="envio" id="envio">
            <option value="physical">Físico (5€)</option>
          </select>
        </div>

        <div class="form-group">
          <label id="label-image" for="image">Imagen</label>
          <input type="file" id="image" name="image" required />
        </div>

        <div class="form-group">
          <p id="precio"></p>
        </div>

        <button type="submit">Enviar</button>
      </form>
    </main>
    <div id="footer-placeholder"></div>
  </body>
</html>

<script type="module">
  import { getUser, isAuthenticated } from "../js/auth.js";
  import { cart } from "../js/order.js";

  document.addEventListener("DOMContentLoaded", async () => {
    const form = document.getElementById("form-ramo-flores");
    const productImage = document.getElementById("product-image");
    const precio = document.getElementById("precio");
    const envio = document.getElementById("envio");
    let precioValor = 0;
    let orderId = null;

    try {
      // Intentar obtener la cart order existente

      form.addEventListener("change", (e) => {
        const envio = document.getElementById("envio").value;
        const quantity = document.getElementById("quantity").value;

        precioValor = 40;
        precioValor *= quantity;
        if (envio === "physical") {
          precioValor += 5;
        }

        precio.textContent = `Precio: ${precioValor} €`;
      });

      form.addEventListener("submit", async (e) => {
        e.preventDefault();
        const address = document.getElementById("address").value;

        if (!isAuthenticated()) {
          location.href = "./login.html";
          return;
        } else {
          const cartOrder = await cart();
          orderId = cartOrder.id;

          const response = await fetch(`${API_URL}/orders/${orderId}`, {
            method: "PATCH",
            headers: {
              "Content-Type": "application/json",
              Authorization: "Bearer " + localStorage.getItem("token"),
            },
            body: JSON.stringify({ address: address }),
          });
        }

        const formData = new FormData();

        formData.append("name", document.getElementById("name").value);
        formData.append(
          "description",
          document.getElementById("description").value
        );
        formData.append("price", precioValor);
        formData.append("quantity", document.getElementById("quantity").value);
        formData.append("category", "ramo-flores");
        formData.append(
          "delivery_type",
          document.getElementById("envio").value
        );
        formData.append("delivery_time", "15");
        formData.append("image", document.getElementById("image").files[0]);
        formData.append("order_id", orderId);

        try {
          const response = await fetch(API_URL + "/products", {
            method: "POST",
            headers: {
              Authorization: `Bearer ${localStorage.getItem("token")}`,
            },
            body: formData,
          });

          const result = await response.json();

          if (response.ok) {
            alert("Producto enviado con éxito!");

            if (result.product?.image_url) {
              const img = document.getElementById("preview");
              img.src = `${API_URL}/${result.product.image_url}`;
            }
          } else {
            const err = await response.json();
            console.error(err);
            alert("Error al enviar el producto");
          }
        } catch (error) {
          console.error(error);
          alert("Hubo un error al enviar la solicitud.");
        }
      });
    } catch (error) {
      console.error("Error en la inicialización del formulario:", error);
      alert("Hubo un problema al cargar la página. Inténtalo más tarde.");
    }
  });
</script>
