<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="../css/style.css" />
    <link rel="stylesheet" href="../css/servicios.css" />
    <script type="module" src="../js/main.js"></script>
  </head>
  <body>
    <div id="header-placeholder"></div>
    <main class="main-services">
      <div class="services-header">
        <h1>SERVICIOS</h1>
        <p>Todo lo que necesitas</p>
      </div>

      <div class="service-group-1 left">
        <div class="service-text">
          <h2>
            <a href="./live-art.html">Live Art</a>
          </h2>
          <p>
            Los momentos especiales se transforman en obras maestras únicas y
            personalizadas! pintamos en directo a tus invitados y le damos un
            toque artístico y especial a vuestro gran día.
          </p>
          <button class="btn"><a href="./live-art.html">Ver más</a></button>
        </div>
        <img src="../img/fefuart-img/Live-art/34.jpg" alt="" class="service-image" />
      </div>

      <div class="service-group-2 right">
        <div class="service-text">
          <h2>
            <a href="./dibujo-encargo.html">Dibujo por encargo</a>
          </h2>
          <p>
            Creamos retratos únicos a partir de tus fotos más queridas. Imagina
            capturar la esencia de un momento significativo, transformándolo en
            una obra de arte que perdurará para siempre. Ya sea un retrato
            familiar, una imagen de boda emotiva, el ramo de novia o un recuerdo
            especial, estamos aquí para convertirlo en una pieza única y
            personalizada.
          </p>
          <button class="btn"><a href="./dibujo-encargo.html">Ver más</a></button>
        </div>
        <img src="../img/fefuart-img/utiles/dibujo-encargo.avif" alt="" class="service-image" />
      </div>

      <div class="service-group-1 left">
        <div class="service-text">
          <h2>
            <a href="./letras-infantiles.html">Letras infantiles</a>
          </h2>
          <p>
            Letras ilustradas para decorar. Regalo ideal para embarazadas y
            papis de los más peques
          </p>
          <button class="btn"><a href="./letras-infantiles.html">Ver más</a></button>
        </div>
        <img src="../img/fefuart-img/utiles/letras-infantiles.avif" alt="" class="service-image" />
      </div>

      <div class="service-group-2 right">
        <div class="service-text">
          <h2>
            <a href="./ramo-flores.html">Ramos dibujados</a>
          </h2>
          <p>Ramos de novia inmarchitables plasmados en una lámina</p>
          <button class="btn"><a href="./ramo-flores.html">Ver más</a></button>
        </div>
        <img src="../img/fefuart-img/Ramos/ramo 2.jpg" alt="" class="service-image" />
      </div>
    </main>
    <div id="footer-placeholder"></div>
  </body>
</html>
