<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script type="module" src="../js/main.js" ></script>
</head>
<body>
    <div id="header-placeholder" style="background-color: lightcoral;"></div>
    <h1>SERVICIOS</h1>
    <p>Todo lo que necesitas</p>

    <div class="service-group-1">
        <h2>
            <a href="./dibujo-encargo.html">Dibujo por encargo</a>
        </h2>
        <img src="../img/gollum.jpg" alt="">
    </div>

    <div class="service-group-2">
        <h2>
            Live Art
        </h2>
        <img src="../img/gollum.jpg" alt="">
    </div>

    <div class="service-group-1">
        <h2>
            <a href="./letras-infantiles.html">Letras infantiles</a>
        </h2>
        <img src="../img/gollum.jpg" alt="">
    </div>

    <div class="service-group-2">
        <h2>
            <a href="./ramo-flores.html">Ramos dibujados</a>
        </h2>
        <img src="../img/gollum.jpg" alt="">
    </div>

</body>
</html>