<footer class="site-footer">
  <nav>
    <ul>
        <li><p><strong>Contacta con Feli Varela:</strong></p></li>
        <li class="contact-item"><p>Tel: </p><a href="tel:+34 614 13 59 75">+34 614 13 59 75</a></li>
        <li class="contact-item"><p>Email: </p><a href="mailto:fefuartist@gmail.com">fefuartist@gmail.com</a></li>
    </ul>
  </nav>
  <div class="social-media">
  <a href="https://www.instagram.com/fefu_art/" target="_blank">
    <img src="../img/instagram.png" alt="Instagram">
  </a>
  </div>
</footer>